
<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark   bg-dark ">
   <a class="navbar-brand" href="/">
    <img src="img/Sans titre-3.png" width="40" height="40" alt="">EPI
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/AddArt">ARTICLE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ">
      <a href="/AddSlider" class="nav-link">SLIDER</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
       <a href="/logout" class="text-white nav-link">LOGAOUT 
            </a>
    </form>
</nav>


    
<body>

<form id="frmUploader" enctype="multipart/form-data" action="/Update/{{_id}}" method="POST" autocomplete="off">
     <div class="form-group files color">
                           <label>Upload Image </label>
                          <input type="file" class="form-control" name="imgUploader"  multiple>
                        </div>
    <div class="form-group">
      {{this.id}}
        <label>Titre Article</label>
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{this.title}}" >
    </div>

     <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="Description" placeholder="Descriptions"  value="{{this.Description}}">
    </div>

     <div class="form-group">
        <label>Prix</label>
        <input type="text" class="form-control" name="Price" placeholder="Price"  value="{{this.Price}}">
    </div>

     <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="categ">
          <option selected>{{this.categ}}</option>
          <option value="Fraises">Fraises</option>
          <option value="Accesoirs Outils">Accesoirs Outils</option>
          <option value="Taraud">Taraud</option>
        </select>

  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input" id="customControlInline">

    <div class="form-group">
      
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>

  </div>
</form>
</body>