
<head>
<script>
           $(document).ready(function () {
            var options = {
                beforeSubmit: showRequest,  // pre-submit callback
                success: showResponse  // post-submit callback
            };

            // bind to the form's submit event
            $('#frmUploader').submit(function () {
                $(this).ajaxSubmit(options);
                // always return false to prevent standard browser submit and page navigation
                return false;
            });
        });

        // pre-submit callback
        function showRequest(formData, jqForm, options) {
            alert('Uploading is starting.');
            return true;
        }

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
            alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
        }
    </script>
</head>

    <header>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark   bg-dark ">
   <a class="navbar-brand" href="/">
    <img src="img/Sans titre-3.png" width="40" height="40" alt="">EPI
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/AddArt">ARTICLE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ">
      <a href="/AddSlider" class="nav-link">SLIDER</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
       <a href="/logout" class="text-white nav-link">LOGAOUT 
            </a>
    </form>
</nav>
</header>



<form id="frmUploader" enctype="multipart/form-data" action="/Addslid" method="POST" autocomplete="off">
    <input type="file" name="imgUploader" multiple />
    
    <div class="form-group">
        <label>Titre Article</label>
        <input type="text" class="form-control" name="title" placeholder="Title">
    </div>

     <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="Description" placeholder="Descriptions">
    </div>
         
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>
    
    
</form>
