
<nav class="navbar fixed-top navbar-expand-lg navbar-dark   bg-dark ">
   <a class="navbar-brand" href="/">
    <img src="img/Sans titre-3.png" width="40" height="40" alt="">EPI
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
     <form class="form-inline my-2 my-lg-0">
       <a href="/logout" class="text-white nav-link">LOGAOUT 
            </a>
    </form>
</nav>

<br>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <h2 id>GERER VOTRE SITE</h2>
      </li>
    </ol>


  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" >
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-ADD_Art" role="tab" aria-controls="pills-ADD_Art" aria-selected="true">Ajout.Article</a>
      </li>

      <li class="nav-item">
           <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-ADD_Sld" role="tab" aria-controls="pills-ADD_Sld" aria-selected="false">Ajout.Slid</a>
      </li>

     <li class="nav-item">
           <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-ADD-Usr" role="tab" aria-controls="pills-ADD_Usr" aria-selected="false">Ajout.User</a>
     </li>

  </ul>


  <div class="tab-content" id="pills-tabContent">
    <!-- Tab Add Article-->
      <div class="tab-pane fade show active" id="pills-ADD_Art" role="tabpanel" aria-labelledby="pills-ADD_Art"> 
        <h2>ARTICLE</h2> <hr>
         
          <div class="row">
            
                    <div class="col-md-4 border-right border-warning">  

                      <ul class="nav nav-tabs" id="myTab" role="tablist">
  
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Single" role="tab" aria-controls="Single" aria-selected="false">AJouter Un Seul Article</a>
                          </li>
                          <li class="nav-item">
                          <a class="nav-link" id="Multi-tab" data-toggle="tab" href="#Multi" role="tab" aria-controls="contact" aria-selected="false">Ajouter plusieur Article</a>
                          </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Single" role="tabpanel" aria-labelledby="Single-tab">
                           <form  id="frmUploader" enctype="multipart/form-data"  action="/AddArt" method="POST">
                              <div class="form-group files color">
                                <label>Upload Image </label>
                                <input type="file" class="form-control" name="imgUploader" multiple>
                              </div>
                              <br>

                                    <div class="form-group row">
                                          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                              <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="inputName" name="title" placeholder="Name"/>
                                              </div>
                                    </div>
                                    <div class="form-group row">
                                          <label for="inputAddress" class="col-sm-2 col-form-label">DESCRIPTION</label>
                                              <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="inputAddress" name="Description" placeholder="Descriptions"/>
                                              </div>
                                    </div>
                                  <div class="form-group row">
                                        <label for="inputSalary" class="col-sm-2 col-form-label">PRIX</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputSalary" name="Price"  placeholder="TND"/>
                                              </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categorie</label>
                                              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="categ">
                                                    <option selected>SELECT ONE</option>
                                                    <option value="Fraises">FRAISES</option>
                                                    <option value="Accesoirs Outils">EQUIPEMENT MACHINE</option>
                                                    <option value="Taraud">TARAUD</option>
                                              </select>
                                    </div>
        
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                            <button type="submit" id="btnSubmit" class="btn btn-primary">Add Art</button>
                                        </div>
                                    </div>
                        </form>
                        <hr>

                        </div>
                        <div class="tab-pane fade" id="Multi" role="tabpanel" aria-labelledby="Multi-tab">
                          <form  id="frmUploader" enctype="multipart/form-data"  action="/addPic" method="POST">
                        

                              <hr>
                              <div class="form-group files color">
                                <label>Upload Image </label>
                                <input type="file" name="imgUploader" class="form-control" multiple>
                              </div>
                          <input type="hidden"  name ="_method" , value ="INSERT" />
                          <button class="btn btn-danger"type = "submit">INSERT</button>
                              <br>
                        </form>
                        <form  id="frmUploader" enctype="multipart/form-data"  action="/convert" method="POST">
                        

                              <hr>
                              <div class="form-group files color">
                                <label>Upload Excel </label>
                                <input type="file" name="ExlUploader" class="form-control" multiple>
                              </div>
                          <input type="hidden"  name ="_method" , value ="INSERT" />
                          <button class="btn btn-danger"type = "submit">INSERT</button>
                              <br>
                        </form>
                        </div>
                      </div>

                    </div>
                    
                    <div class="col-md">
                      <div class="row">
                         <div class="col-md-2">
                               <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        
                            <a class="nav-link active" id="v-pills-Fraise-tab" data-toggle="pill"  href="#v-pills-Fraise"   role="tab" aria-controls="v-pills-Fraise" aria-selected="true">FRAISE</a>
                        
                            <a class="nav-link"        id="v-pills-EqMa-tab"   data-toggle="pill"  href="#v-pills-EqMa"    role="tab" aria-controls="v-pills-EqMa"    aria-selected="false">EQUIPEMENT MACHINE</a>
                        
                            <a class="nav-link"        id="v-pills-TAR-tab"    data-toggle="pill"  href="#v-pills-TAR"     role="tab" aria-controls="v-pills-TAR"     aria-selected="false">TARAUD</a>
                               </div>
                         </div>
                         
                          <div class ="col-md">
                             <div class="tab-content" id="v-pills-tabContent">
                          <!-- FRAISE -->
                            <div class="tab-pane fade show active" id="v-pills-Fraise" role="tabpanel" aria-labelledby="v-pills-Fraise-tab">
                                  <div class="col-md-8">
                                    <table class="table" id="myTable">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col" >ID</th>
                                          <th scope="col">Reference</th>
                                          <th scope="col">Designation</th>
                                          <th scope="col">PRIX</th>
                                          <th scope="col">Categorie</th>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">&nbsp;</th>
                                        </tr>
                                      </thead>
                                        {{#each FrArt }}
                                        <tbody> 
                                          <tr>
                                              <th>{{this.id}}</th>
                                              <th>{{this.title}}</th>
                                              <th>{{this.Description}}</th>
                                              <th>{{this.Price}} TND</th>
                                              <th>{{this.categ}}</th>
                                              <th>
                                                <form  id="frmUploader" enctype="multipart/form-data"  action="/Delete/{{this.id}}" method="GET">
                                                <input type="hidden"  name ="_method" , value ="DELETE" />
                                                <button class="btn btn-danger"type = "submit">delete</button>
                                                </form>                       
                                              </th>
                                              <th> 
                                                <a href="/Modif/{{this.id}}"><i class="fa fa-pencil fa-lg" aria-hidden="trur"></i></a>        
                                                                                          
                                              </th>
                                                              
                                            </tr>
                                                            
                                        </tbody>
                                          {{/each}}
                                          <!-- MODAL
                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          
                                                          
                                                          <h5 class="modal-title" id="exampleModalLabel">Modifier Article </h5>
                                                        
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <form  action="/Mod" method="GET">
                                                      <button type="submit" class="btn btn-warning">clickme</button>
                                                    </form>
                                                          <form  id="frmUploader" enctype="multipart/form-data"  action="/AddArt" method="POST">
                                                              <div class="form-group files color">
                                                                  <label>Upload Image </label>
                                                                  <input type="file" class="form-control" name="imgUploader" multiple>
                                                              </div>    
                                                                        <br>

                                                                                <div class="form-group row">
                                                                                      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                                                          <div class="col-sm-10">
                                                                                              <input type="text" class="form-control" id="inputName" name="title" value= '{{this.Mid}}' placeholder="Name" />
                                                                                          </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                      <label for="inputAddress" class="col-sm-2 col-form-label">DESCRIPTION</label>
                                                                                          <div class="col-sm-10">
                                                                                              <input type="text" class="form-control" id="inputAddress" name="Description" placeholder="Descriptions"/>
                                                                                          </div>
                                                                                </div>
                                                                              <div class="form-group row">
                                                                                    <label for="inputSalary" class="col-sm-2 col-form-label">PRIX</label>
                                                                                        <div class="col-sm-10">
                                                                                            <input type="text" class="form-control" id="inputSalary" name="Price"  placeholder="TND"/>
                                                                                          </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categorie</label>
                                                                                          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="categ">
                                                                                                <option selected>Outils Machines</option>
                                                                                                <option value="Fraises">Fraises</option>
                                                                                                <option value="Accesoirs Outils">Accesoirs Outils</option>
                                                                                                <option value="Taraud">Taraud</option>
                                                                                          </select>
                                                                                </div>
                                                    
                                                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                                          <button type="submit" id="btnSubmit" class="btn btn-primary">Envoyer</button>

                                                          </form>         
                                                        </div>
                                                        <div class="modal-footer">
                                                          
                                                          
                                                          
                                                        </div>
                                                        
                                                      </div>
                                                    </div>
                                                      
                                            -->          
                                    </table> 
                                  </div>
                            </div>
                        
                          <!-- EQUIPEMENT MACHINE -->

                            <div class="tab-pane fade" id="v-pills-EqMa" role="tabpanel" aria-labelledby="v-pills-EqMa-tab">
                              <div class="col-md-8">
                              <table class="table" id="myTable">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">ID</th>
                                          <th scope="col">Reference</th>
                                          <th scope="col">Designation</th>
                                          <th scope="col">PRIX</th>
                                          <th scope="col">Categorie</th>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">&nbsp;</th>
                                      </tr>
                                      </thead>
                                      <tbody> 
                                            {{#each AoArt }}
                                            <tr>
                                              <th>{{this.id}}</th>
                                              <th>{{this.title}}</th>
                                              <th>{{this.Description}}</th>
                                              <th>{{this.Price}} TND</th>
                                              <th>{{this.categ}}</th>
                                              <th>
                                                <form  id="frmUploader" enctype="multipart/form-data"  action="/Delete/{{this.id}}" method="GET">
                                                <input type="hidden"  name ="_method" , value ="DELETE" />
                                                <button class="btn-danger"type = "submit">delete</button>
                                                </form>
                                            
                                              </th>
                                              <th> 
                                                <a href="/Modif/{{this.id}}"><i class="fa fa-pencil fa-lg" aria-hidden="trur"></i></a>        
                                                                                          
                                              </th>  
                                              </tr>
                                                  {{/each}}
        
                                        </tbody>
                              </table>   
        
                              </div>
                            </div>

                          <!-- TARAUD -->

                            <div class="tab-pane fade" id="v-pills-TAR" role="tabpanel" aria-labelledby="v-pills-TAR-tab">
                                <div class="col-md-8">
                                  <table class="table" id="myTable">
                                  <thead class="thead-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Designation</th>
                        <th scope="col">PRIX</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                </thead>
                <tbody> 
                {{#each TrArt }}
                    <tr>
                      <th>{{this.id}}</th>
                      <th>{{this.title}}</th>
                      <th>{{this.Description}}</th>
                      <th>{{this.Price}} TND</th>
                      <th>{{this.categ}}</th>
                      <th>
                              <form  id="frmUploader" enctype="multipart/form-data"  action="/Delete/{{this.id}}" method="GET">
                              <input type="hidden"  name ="_method" , value ="DELETE" />
                              <button class="btn-danger"type = "submit">delete</button>
                              </form>
                                            
                            </th> 
                      <th>
                        
                          <a href="/Modif/{{this.id}}"><i class="fa fa-pencil fa-lg" aria-hidden="trur"></i></a>        
                                                                                          
                                              
                      </th>
                      </tr>
                  {{/each}}
        
                  </tbody>
                                  </table>   
        
                                </div>
                            </div>
                            
                        </div>
                          </div>                 
                        
                      </div>
                        
                    </div>
          </div>
        
     </div>

      
<!-- Tab Add Slider-->
     <div class="tab-pane fade" id="pills-ADD_Sld" role="tabpanel" aria-labelledby="pills-ADD_Sld">

             <h2>SLIDER</h2> <hr>
             <div class="row">
                   <div class="col-md-4 border-right border-warning">
                 <form id="frmUploader" enctype="multipart/form-data" action="/Addslid" method="POST" autocomplete="off">
              <input type="file" name="imgUploader" multiple />
          
              <div class="form-group">
                  <label>Titre Article</label>
                  <input type="text" class="form-control" name="title" placeholder="Title">
              </div>

              <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" name="Description" placeholder="Descriptions">
              </div>
                  
              <div class="form-group">
                  <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
              </div>                   
                 </form>
                   </div>
            
             
              <div class="col-md-4">
                                    <table class="table" id="myTable">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col" >ID</th>
                                          <th scope="col">TITRE</th>
                                          <th scope="col">Designation</th>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">&nbsp;</th>
                                        </tr>
                                      </thead>
                                        {{#each Sld }}
                                        <tbody> 
                                          <tr>
                                              <th>{{this.id}}</th>
                                              <th>{{this.Sltitle}}</th>
                                              <th>{{this.SlDescription}}</th>
                                              <th>
                                                <form  id="frmUploader" enctype="multipart/form-data"  action="/Delete/{{this.id}}" method="GET">
                                                <input type="hidden"  name ="_method" , value ="DELETE" />
                                                <button class="btn btn-danger"type = "submit">delete</button>
                                                </form>                       
                                              </th>
                                              <th> 
                                                <a href="/Modif/{{this.id}}"><i class="fa fa-pencil fa-lg" aria-hidden="trur"></i></a>        
                                                                                          
                                              </th>
                                                              
                                            </tr>
                                                            
                                        </tbody>
                                          {{/each}}
                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          
                                                          
                                                          <h5 class="modal-title" id="exampleModalLabel">Modifier Article </h5>
                                                        
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <form  action="/Mod" method="GET">
                                                      <button type="submit" class="btn btn-warning">clickme</button>
                                                    </form>
                                                          <form  id="frmUploader" enctype="multipart/form-data"  action="/AddArt" method="POST">
                                                              <div class="form-group files color">
                                                                  <label>Upload Image </label>
                                                                  <input type="file" class="form-control" name="imgUploader" multiple>
                                                              </div>    
                                                                        <br>

                                                                                <div class="form-group row">
                                                                                      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                                                          <div class="col-sm-10">
                                                                                              <input type="text" class="form-control" id="inputName" name="title" value= '{{this.Mid}}' placeholder="Name" />
                                                                                          </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                      <label for="inputAddress" class="col-sm-2 col-form-label">DESCRIPTION</label>
                                                                                          <div class="col-sm-10">
                                                                                              <input type="text" class="form-control" id="inputAddress" name="Description" placeholder="Descriptions"/>
                                                                                          </div>
                                                                                </div>
                                                                              <div class="form-group row">
                                                                                    <label for="inputSalary" class="col-sm-2 col-form-label">PRIX</label>
                                                                                        <div class="col-sm-10">
                                                                                            <input type="text" class="form-control" id="inputSalary" name="Price"  placeholder="TND"/>
                                                                                          </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categorie</label>
                                                                                          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="categ">
                                                                                                <option selected>Outils Machines</option>
                                                                                                <option value="Fraises">Fraises</option>
                                                                                                <option value="Accesoirs Outils">Accesoirs Outils</option>
                                                                                                <option value="Taraud">Taraud</option>
                                                                                          </select>
                                                                                </div>
                                                    
                                                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                                          <button type="submit" id="btnSubmit" class="btn btn-primary">Envoyer</button>

                                                          </form>         
                                                        </div>
                                                        <div class="modal-footer">
                                                          
                                                          
                                                          
                                                        </div>
                                                        
                                                      </div>
                                                    </div>
                                                      
                                            -->          
                                    </table> 
              </div>
             </div>
            
     </div>


 <!--Tab AddUser-->
    <div class="tab-pane fade" id="pills-ADD-Usr" role="tabpanel" aria-labelledby="pills-ADD-Usr">
       <h2>USERS</h2> <hr>
          
      
    </div>
  </div>


  


