
<head>
<link href="/css/cover.css" rel="stylesheet">
</head>		

<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">E.P.I</h3>

          
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">E.P.I Equippeemnt Pour Industrie</h1>
        <br>

        <p class="lead">Sté E.P.I  Creer en 2019  
          notre rôle ç'est de trouver des solution selon le besoin de l'ntreprises
          Chez nous trouvés tous vos besoin d'outillage

            <br>
             <h1 class="cover-heading">Allez-y connecter et Profiter</h1>
        <small>   </small>
            
        </p>
  <div>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Sign-In</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
    <h1>Sign-In</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignIn" method="post">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    </div>

    
    <button type="submit" class="btn btn-primary">Sign-In</button>
    </form>
  




      </div>
    </div>
  </div>
</div>

<!--Modal Sign UP-->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">Sign-UP</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
  
    <h1>Sign Up</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignUp" method="post">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  







      </div>
    </div>
  </div>
</div>
 <a class="fleche warning" href="/menu" role="button">Entrer</a>
  </div>
  

      </div>
     
      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

        
      
          

          <p>© 2019 Created By ~BERRIRI SAHBI</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
