<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark   bg-dark ">
  <a class="navbar-brand" href="/">
    <img src="img/Sans titre-3.png" width="40" height="40" alt="">EPI
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#Article">
          <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;
          MAGASIN<span class="sr-only">(current)</span></a>
     
      </li>
      <li class="nav-item active ">
      <a href="#contact" class="nav-link">
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;
        CONTACT</a>
      </li>
    
    <li class="nav-item active">

       <a href="/shopiing-cart" class="nav-link" >
       <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;PANIER  
       <span class="badge">{{session.cart.totalQty}}</span>
       </a>
    </li>
    <li class="nav-item">
      <a href="/admin" class="text-white nav-link"> ADMIN </a>
      </li>
      <!--login -->

      
      </li>

    </ul>
   

  
    <ul class="nav navbar-nav navbar-right ">	
      	
			<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Gestion Utilusateur</a>
      <ul class="dropdown-menu">
        {{#if login}}
        	<li><a href="/profile"> MON PROFIL </a></li>
          <li role="/logout" class="divider"></li>
          <li><a href="/logout">Logout</a></li>
          {{else}}
             <li data-toggle="modal" data-target="#exampleModalCenter"><a href="#"> Login</a></li>
             <li  data-toggle="modal" data-target="#exampleModalCenter2"><a href="#"> CREER COMPTE</a></li>



        {{/if}}
      </ul>
		
      </li>
		</ul>




  </div>

 


  </nav>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
  
    <h1>Sign Up</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignUp" method="post">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
    <h1>Sign-In</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignIn" method="post">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    </div>

    
    <button type="submit" class="btn btn-primary">Sign-In</button>
    </form>
  




      </div>
    </div>
  </div>
</div>
</header>

<br>
<br>


<ol class="breadcrumb">
      <li class="breadcrumb-item">
        <h2>ETAT DE BANDE COMMANDE</h2>
      </li>
    </ol>

<div class="row">
<div class="col-md-8">
                                    <table class="table" id="myTable">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">NOM ET PRENOM </th>
                                          <th scope="col" >Sté</th>
                                          <th scope="col">Tel</th>
                                          <th scope="col">Adresse</th>
                                          
                                          <th scope="col">&nbsp;</th>
                                        </tr>
                                      </thead>
                                      
                                        <tbody> 
                                          <tr>
                                              <th>{{this.NP}}</th>
                                              <th>{{this.COMP}}</th>
                                              <th>{{this.Phone}}</th>
                                              <th>{{this.Adr}}</th>
                                          </tr>
                                                            
                                        </tbody>
                                                    
                                                      
                                    </table> 

</div>
</div>



<div class="row">
    
           
        

        <div class="col-md-8">
                                  {{#each CA}}
                                    <table class="table" id="myTable">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">IMAGE</th>
                                          <th scope="col" >TITRE</th>
                                          <th scope="col">DESCRIPTION</th>
                                          <th scope="col">CATEGORI</th>
                                          <th scope="col">PRIX.U</th>
                                          <th scope="col">PRIX.T</th>
                                          <th scope="col">QUANTITE</th>
                                          <th scope="col">&nbsp;</th>
                                        </tr>
                                      </thead>
                                      
                                        <tbody> 
                                         
                                          {{#each this}}
                                          
                                          <tr>
                                              <th><img src="img/Articles/{{this.item.imagePath}}" width="70"></th>
                                              <th>{{this.title}}</th>
                                              <th>{{this.item.Description}}</th>
                                              <th>{{this.item.categ}}</th>
                                              <th>{{this.item.Price}}</th>
                                              <th>{{this.Price}}</th>
                                              <th>{{this.qty}}</th>
                                            </tr>
                                            {{/each}}
                                                           
                                        </tbody>
                                          
                                                    
                             
                                    </table>
                                    {{/each}} 
                                    <table class="table">
  <thead>
<tr class="table-warning">
  <th>Cette Bon de Commande à ete arrété a la somme de  :{{totalPrice}}</th>
  
</tr>

  </thead>

</table>
        </div>



    
</div>

