<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/all.css" rel="stylesheet">
		<link href="/css/inputfile.css" rel="stylesheet">

        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
		<link href="/css/login.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

        <title>E.P.I Solution</title>
    </head>
    <body>
        <!--BERRIRI SAHBI WEB-DEVLOPPER-->
        {{{body}}}

           
           <footer class="footer-distributed fixed-button">

			<div class="footer-left ">

				<h3>E.P.I<span>Equipement Pour Industrie</span></h3>
                	<p class="footer-company-about">
					La société EPI distribue une gamme complète d'aciers spéciaux, métaux non ferreux , plastiques technique et outils coupants, en commercialisant des produits de qualité et certifiés
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>
				
				<p class="footer-company-name">BERRIRI SAHBI FULLSTACK NodeJS Developper&copy; 2019</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>4000 Cité Riadh</span> Sousse, Tunisie</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>(00216) 55200 400 - </p>
                    <p>(00216) 55200 900</p>

				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="commercial1@gmail.com">commercial1@gmail.com - </a></p>
                    <p><a href="commercial2@gmail.com">commercial2@gmail.com</a></p>

				</div>

			</div>

			<div class="footer-right">
                <p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>
			</div>
</footer>

		<script src="/js/bootstrap.bundle.js"></script>
        <script src="/js/slectf.js"></script>
        <script src="/js/select.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.all.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
        <script src="/js/html2canvas.min.js"></script>


    </body>
</html>

