<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark   bg-dark ">
  <a class="navbar-brand"  href="/">
    <img src="img/logo.png" width="100" height="100" alt="" ><font size ="5" ,    color="#c99c08", face="cursive">
        Equipements Pour Industries
    </font>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#Article">
          <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;
          MAGASIN<span class="sr-only">(current)</span></a>
     
      </li>
      <li class="nav-item active ">
      <a href="#contact" class="nav-link">
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;
        CONTACT</a>
      </li>
    
    <li class="nav-item active">

       <a href="/shopiing-cart" class="nav-link" >
       <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;PANIER  
       <span class="badge">{{session.cart.totalQty}}</span>
       </a>
    </li>
    <li class="nav-item">
      <a href="/admin" class="text-white nav-link"> ADMIN </a>
      </li>
      <!--login -->

      
      </li>

    </ul>
   

  
    <ul class="nav navbar-nav navbar-right">	
      	
			<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Gestion Utilusateur</a>
      <ul class="dropdown-menu">
        {{#if login}}
        	<li><a href="/shopiing-cart"> MON PROFIL </a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/logout">Logout</a></li>
          {{else}}
             <li data-toggle="modal" data-target="#exampleModalCenter"><a href="#"> Login</a></li>
             <li  data-toggle="modal" data-target="#exampleModalCenter2"><a href="#"> CREER COMPTE</a></li>



        {{/if}}
      </ul>
		
      </li>
		</ul>




  </div>
  </nav>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
  
    <h1>Sign Up</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignUp" method="post">

    
    
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
      
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    <hr>
      <label for="NP">Nom Et Prenom : </label>
      <input type="text" id="NP" name="NP" class="form-control">
      
      <label for="Comp">STE : </label>
      <input type="text" id="Comp" name="Comp" class="form-control">

      <label for="Phone">Telephone : </label>
      <input type="text" id="Phone" name="Phone" class="form-control">

      <label for="Adr">Adresse : </label>
      <input type="text" id="Adr" name="Adr" class="form-control">


    </div>
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          
    <h1>Sign-In</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignIn" method="post">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    </div>

    
    <button type="submit" class="btn btn-primary">Sign-In</button>
    </form>
  




      </div>
    </div>
  </div>
</div>
</header>


<main role="main">
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <ol class="carousel-indicators">
            <li style="z-index:102;" data-target="#myCarousel" data-slide-to="0" class="active" ></li>
            <li style="z-index:102;" data-target="#myCarousel" data-slide-to="1" class="active" ></li>
        </ol>

        <div class="carousel-inner">
                     

            <div class="carousel-item active">
                <img class="imgFilter first-slide" src="img/carousel/slide2.jpg" alt="First Slide">
                <div class="container">
                    <div class="carousel-caption">
                         <h1>E.P.I</h1>
                         <p> Ste Equipement Pour Industrie</p>
                         <p><a href="#" role="butoon" class="btn btn-primary btn-lg">Product</a></p>
                    </div>
                </div>
            </div>
                 {{#each Sld }}
              <div class="carousel-item">
                   <img class="imgFilter second-slide"  src="img/Articles/{{this.SlimagePath}}" alt="second slide">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>{{this.Sltitle}}</h1>
                                <p> {{this.SlDescription}}</p>
                                <p><a href="#" role="butoon" class="btn btn-primary btn-lg">Product</a></p>
                            </div>
                        </div>
               </div>
                 {{/each}}

            
        </div>
        <a style="z-index:101;" class="carousel-control-prev" role="button" data-slide="prev" href="#myCarousel">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a style="z-index:101;" class="carousel-control-next" role="button" data-slide="next" href="#myCarousel"
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</main>

<br>
 <div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page" id="magasin" >BOUTIQUE</li>
                </ol>
            </nav>
        </div>
    </div>
 </div>
   

<div class="container-fluid">

   <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" >
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">FRAISE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">EQUIPEMENT MACHINE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">TARAUD</a>
  </li>
   </ul>
   <div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"> <h2 id="PRODUCT1">FRAISE</h2> <hr>
          
      <div class="card-deck">
          {{#each FrArt }}
          <div class="row-md-3">
            <div class="card text-center" style="width: 18rem;">
                  <img class="card-img-top" src="img/Articles/{{this.imagePath}}" height="120" width="80">
                        <div class="card-body">
                             <h5 class="card-title">{{this.title}}</h5>
                              <p class="card-text">{{this.Description}}</p>
                              <div class="price">{{this.Price}} TND</div>
                        </div>
                        <div class="card-footer"> 
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary" role="button">Add</a>
                            <a tabindex="0"  class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Description" data-content="ssrsr">Descriptions</a>

                        </div>
              </div>
            </div>
            {{/each}}
      </div></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><h2 id="PRODUCT2">EQUIPEMENT MACHINE</h2> <hr>
          
      <div class="card-deck">
          {{#each AoArt }}
          <div class="row-md-3">
            <div class="card text-center" style="width: 18rem;">
                  <img class="card-img-top" src="img/Articles/{{this.imagePath}}" height="120" width="80">
                        <div class="card-body">
                             <h5 class="card-title">{{this.title}}</h5>
                              <p class="card-text">{{this.Description}}</p>
                              <div class="price">{{this.Price}} TND</div>
                        </div>
                        <div class="card-footer"> 
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary" role="button">Add</a>
                            <a tabindex="0"  class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Description" data-content="ssrsr">Descriptions</a>

                        </div>
              </div>
            </div>
            {{/each}}
      </div></div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"> <h2 id="PRODUCT2">TARAUD</h2> <hr>
          
      <div class="card-deck">
          {{#each TrArt }}
          <div class="row-md-3">
            <div class="card text-center" style="width: 18rem;">
                  <img class="card-img-top" src="img/Articles/{{this.imagePath}}" height="120" width="80">
                        <div class="card-body">
                             <h5 class="card-title">{{this.title}}</h5>
                              <p class="card-text">{{this.Description}}</p>
                              <div class="price">{{this.Price}} TND</div>
                        </div>
                        <div class="card-footer"> 
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary" role="button">Add</a>
                            <a tabindex="0"  class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Description" data-content="ssrsr">Descriptions</a>

                        </div>
              </div>
            </div>
            {{/each}}
      </div></div>
   </div>

</div>

  

    
  
    
  
 

  


    <!-- Content Row -->
    
    <!-- /.row -->

    <!-- Contact Form -->
  
  
 

 <div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"id="contact" >Contact</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        
        <div class="col-12 col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-white"><i class="fa fa-envelope"></i> Contacter Nous.
                </div>
                <div class="card-body">
                    <form action="/contact"  name="sentMessage" method="post" id="contactForm" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name"  name="name" aria-describedby="emailHelp" placeholder="Entrer votre Nom" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name ="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-primary text-right" id="sendMessageButton">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-header bg-secondary text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                <div class="card-body">
                     <div class="mapouter">
                       <div class="gmap_canvas">
                        <iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Zaouiet%20Sousse&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                          </iframe>
                           <a href="https://www.maps-erstellen.de"></a>
                     </div>
           <style>.mapouter{position:relative;text-align:center;height:400px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}

           </style>
              </div>       
                     
                </div>
               <div class="card-footer">
                    <p>ZAWYET SOUSSE RIADH SIUSSE  </p>
                    <p>Tel. 00216 55 200 400</p>
                    <p>E-MAIL. commerce.epi1@gmail.com</p>
               </div>
            </div>
            
        </div>
    </div>
</div>

  <!-- /.container -->

  


