<nav class="navbar fixed-top navbar-dark   bg-dark  text-white">
    <a class="text-white navbar-brand" href="/">
       <i class="fab fa-pagelines"></i> E.P.I
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
    aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
             <li class="nav-item active">
                  <a href="/admin" class="nav-link">View Orders</a>
             </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 mb-3">
  <div class ="row">
    <div class="col">
        <form action="/order" class="border border-warning p-3" methode="POST"  autocomplete="off">
         <input type="hidden" name="_id" value="{{order.id}}"
          <div class="form-group">
            <label for="">Order</label>
            <input type="text" classe="form-control" value="{{order.name}}" name="order" placeholder="Order">
          </div>
           <div class="form-group">
               <label for="">Total</label>
               <input type="text" class="form-control" value="{{order.total}}" name="total" placeholder="Total">
           </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
  </div>
</div>