
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark   bg-dark ">
  <a class="navbar-brand" href="/menu">
    <img src="img/Sans titre-3.png" width="40" height="40" alt="">EPI
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="menu">
          <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;
          MAGASIN<span class="sr-only">(current)</span></a>
     
      </li>
      
    
    <li class="nav-item active">

       <a href="/shopiing-cart" class="nav-link" >
       <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;PANIER  
       <span class="badge">{{session.cart.totalQty}}</span>
       </a>
    </li>
    
      <!--login -->

      
      </li>

    </ul>
   


    <ul class="nav navbar-nav ">			
			
			 <form class="form-inline my-2 my-lg-0">
       <a href="/logout" class="text-white nav-link">LOGAOUT 
            </a>
    </form>
	</ul>




  </div>
</nav>
</header>

<br>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <h2 id="Article">PANIER</h2>
      </li>
    </ol>

<body>
 {{#if product}}

<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{#each product}}
               <li class="list-group-item">
                <span class="badge">{{ this.qty }}</span>
                <strong>{{ this.item.title }}</strong>
                <span class="label label-success">TND{{ this.Price }}</span>
                <div class="btn-group">
                    <button class="btn btn-primary  dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/Del-One/{{this.item._id}}">suprimer 1 </a></li>
                        <li><a href="/Del-All/{{this.item._id}}">Suprimer tout </a></li>    
                        
                    </ul>
                </div>
            </li>

            {{/each}}
            
        </ul>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <div><strong>Total: {{totalPrice}}</strong></div>
    </div>
</div>
<hr>
<div class="row">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 Realiser Bond Commande
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
      <div class="col-lg-8 mb-4">
       <form action="/contact"  name="sentMessage" method="post" id="contactForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label for="name">Nom-Prenom/Nom Sté:</label>
              <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Tel:</label>
              <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email"  required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label for="message" >Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
        
      </div>

    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


{{ else }}

<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h2>No Items in Cart</h2>
</div>
</div>

{{/if}}
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






