<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign Up</h1>
       {{#if hasErrors}}
         <div class="alert alert-danger">
           {{#each messages}}
             <p>{{this}}</p>
            {{/each}}
         </div>
        {{/if}} 
    <form action="/SignUp" method="post">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" id="email" name="email" class="form-control">
      
      <label for="password">Password</label>
      <input type="password" id ="password" name="password" class="form-control">
    <hr>
      <label for="NP">Nom Et Prenom : </label>
      <input type="text" id="NP" name="NP" class="form-control">
      
      <label for="Comp">STE : </label>
      <input type="text" id="Comp" name="Comp" class="form-control">

      <label for="Phone">Telephone : </label>
      <input type="text" id="Phone" name="Phone" class="form-control">

      <label for="Adr">Adresse : </label>
      <input type="text" id="Adr" name="Adr" class="form-control">


    </div>
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>